body {
  margin: 0;
  background: #ffffff;
}
#map {
  width: 100vw;
  height: 100vh;
}

.map-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.maplibregl-map .mapboxgl-map {
  position: relative;
  width: 100vw;
  height: 100vh;
}
