/** Fonts
    - Headers = Montserrat
    - Body = Open Sans
*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
/** Colors
    - Graphic guidelines from the city of Tampere
    - Set of greys
    - Default element colors
*/
/* Compiling */
/** Typography - Main */
body {
  font-family: "Open Sans", Arial;
  font-size: 1rem;
  color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", Arial;
  color: #333;
  margin-bottom: 1rem;
}

p a {
  color: #00417d;
  text-decoration: underline;
}

p a:hover {
  text-decoration: none;
}

/** Typography - Table */
tr {
  padding: 1em;
  font-family: "Open Sans", Arial;
}

tr th {
  font-weight: bold;
}

tr td {
  font-weight: inherit;
}

/** Components - SplashScreen */
.splashscreen-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  opacity: 1;
  animation: fadeOut ease 0.6s;
  animation-delay: 1.4s;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.splashscreen-heroimg {
  position: absolute;
  top: 0;
  left: -30%;
  z-index: -999;
}

.splashscreen-heroimg img {
  min-width: 100vw;
  max-height: 100vh;
  height: auto;
  object-fit: cover;
  filter: brightness(0.8);
}

.splashscreen-heroheader {
  position: relative;
  float: right;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-top: 30vh;
  margin-bottom: auto;
  text-align: center;
  text-shadow: 2px 2px 10px #333333cc, 2px 2px 20px #33333366;
}

.splashscreen-heroheader h1 {
  font-size: 3em;
  color: #fbfbfb;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.splashscreen-heroheader h2 {
  font-size: 1.2em;
  color: #fbfbfb;
  line-height: 1.6em;
  letter-spacing: 0.1em;
}

.splashscreen-copyright {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 1em;
}

.splashscreen-copyright p {
  font-size: 0.6em;
  color: #fbfbfb;
}

/** Components - LayerButton, LayerPicker */
.maplibregl-ctrl {
  background-color: #abc872;
  margin: 1.4em 1.4em 0 0 !important;
  box-shadow: 2px 2px 6px 0px #959b8966 !important;
}

button.tarmo-ctrl-exit {
  background-color: #8cc1b3;
  border-radius: inherit;
}

.tarmo-button-wrapper {
  float: right;
  clear: both;
  pointer-events: auto;
  transform: translate(0);
}

.tarmo-icon-close {
  background-image: url("/public/img/close-dark.svg");
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: 50%;
}

.tarmo-icon-menu {
  background-image: url("/public/img/info-dark.svg");
  background-size: 70%;
}

.tarmo-icon-layerpicker {
  background-image: url("/public/img/layers-dark.png");
  background-size: 70%;
}

.mapboxgl-ctrl
button.mapboxgl-ctrl-geolocate.mapboxgl-ctrl-geolocate-active
.mapboxgl-ctrl-icon,
.maplibregl-ctrl
button.maplibregl-ctrl-geolocate.maplibregl-ctrl-geolocate-active
.maplibregl-ctrl-icon {
  background-image: inherit;
  filter: brightness(99);
}

.mapboxgl-ctrl button.mapboxgl-ctrl-geolocate.mapboxgl-ctrl-geolocate-background .mapboxgl-ctrl-icon,
.maplibregl-ctrl button.maplibregl-ctrl-geolocate.maplibregl-ctrl-geolocate-background .maplibregl-ctrl-icon {
  background-image: inherit;
  filter: brightness(99);
}

.mapboxgl-ctrl-group:not(:empty),
.maplibregl-ctrl-group:not(:empty) {
  box-shadow: none;
}

.mapboxgl-ctrl-group,
.maplibregl-ctrl-group {
  border-radius: 0.6em;
}

.mapboxgl-ctrl-top-right,
.maplibregl-ctrl-top-right {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  flex-wrap: nowrap;
  align-items: flex-end;
}

.tarmo-button-menu-container {
  width: 80vw;
  max-width: 100vw;
  height: auto;
  overflow: hidden;
  margin-right: 3.6rem;
  margin-top: 1.4em;
  background-color: #abc872;
  border-radius: 1em;
  position: absolute;
  right: 0;
  box-shadow: 2px 2px 6px 0px #959b8966 !important;
}

.tarmo-button-menu-container ul {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.tarmo-button-menu-container ul li {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
  width: -webkit-fill-available;
  font-family: "Montserrat", Arial;
  font-size: 1.2em;
  font-weight: bold;
  color: #333;
  text-align: left;
  border: none;
  background: transparent;
  padding: 0.6em 1em;
  margin-bottom: 0.1em;
}

.tarmo-button-menu-container ul li:hover {
  background-color: #8cc1b3;
}

/** Components - InfoSlider */
.slider {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  background-color: #397368f0;
  transition: bottom 0.5s;
  -webkit-transition: bottom 0.5s;
  backdrop-filter: blur(4px);
}

.slider .nav-content .burger__checkbox {
  display: none;
}

.slider .nav-content label.burger__toggle {
  cursor: pointer;
  display: block;
  padding: 0;
  width: auto;
  text-align: center;
  z-index: 10;
  list-style-type: none;
}

.slider .nav-content svg {
  max-width: 2em;
  height: auto;
  fill: none;
  stroke: #fbfbfb;
  stroke-width: 2;
  stroke-linecap: round;
  padding: 0.8em 0 0 0;
}

.slider .text-content {
  transition: 0.5s all linear;
  will-change: transform;
  padding: 0 1.4em;
}

.slider .dots-content {
  height: auto;
  margin: 0;
  padding: 0;
  position: absolute;
  width: auto;
  text-align: center;
  left: 50%;
  bottom: 9px;
  transform: translateX(-50%);
  z-index: 10;
  list-style-type: none;
}

.slider .dots-content li {
  display: inline-block;
  padding: 2px;
}

.slider .dots-content li button {
  color: #585857;
  background-color: transparent;
  border: none;
}

.slider .dots-content li button:hover {
  text-decoration: none;
  opacity: 0.7;
  cursor: pointer;
}

.slider .dots-content li.active button {
  color: #fbfbfb;
}

.slider .each-slide {
  width: 100vw;
  height: 20vh;
  float: left;
  color: #fbfbfb;
}

.slider .each-slide h1,
.slider .each-slide h2,
.slider .each-slide h3,
.slider .each-slide h4,
.slider .each-slide h5,
.slider .each-slide h6 {
  color: #fbfbfb;
  max-width: 90vw;
}

.slider .each-slide p {
  font-family: "Open Sans", Arial;
  max-width: 90vw;
}

.slider .each-slide button {
  background-color: #abc872;
  border: none;
  padding: 1em;
  border-radius: 10px;
  cursor: pointer;
  font-family: "Open Sans", Arial;
  color: #333;
  font-weight: bold;
  text-decoration: none;
}

.slider .each-slide button:hover {
  background-color: #8cc1b3;
}

.slider.isHidden {
  bottom: -21vh;
}

/** Responsive breakpoints
    - Mobile = < 600px
    - Tablet = 600px - 900px
    - Desktop = > 900px
*/
@media only screen and (min-width: 900px) {
  /** SplashScreen */
  .splashscreen-container {
    justify-content: center;
  }
  .splashscreen-container .splashscreen-heroimg {
    left: 0;
  }
  /** LayerButton, InfoButton, LayerPicker */
  .tarmo-button-menu-container {
    width: 20vw;
  }
  /** ModalSlider */
  .each-slide .button-slide {
    position: relative;
    right: -45%;
  }
  .each-slide p {
    text-align: center;
    max-width: none !important;
  }
  .each-slide h1,
  .each-slide h2,
  .each-slide h3,
  .each-slide h4,
  .each-slide h5,
  .each-slide h6 {
    text-align: center;
    max-width: none !important;
  }
}

@media only screen and (min-width: 600px) and (max-width: 900px) {
  /** SplashScreen */
  .splashscreen-container {
    justify-content: center;
  }
  .splashscreen-container .splashscreen-heroimg {
    left: 0;
  }
}
